
.checkbox__legend {
  color: #d22856;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  align-content: center;
}

.checkbox__text {
  color: #283645;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.checkbox {
  background-color: #f2f2f2;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  min-height: 606px;
  @media(min-width: 660px) {
    width: 640px;
  }
}

.checkbox__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.form__inner {
  display: flex;
}
