
.contact__headline {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  padding-bottom: 70px;
  height: 118px;

  @media (min-width: 660px) {
    color: #283645;
    font-size: 40px;
    font-weight: 300;
    min-width: 660px;
    text-align: center;
    line-height: 50px;
  }

  @media (min-width: 960px) {
    color: #283645;
    font-size: 50px;
    font-weight: 300;
    padding-top: 70px;
  }
}

.contact__block {
  margin-bottom: 28px;
}


.contact__text {
  color: #283645;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0;

  @media (min-width: 660px) {
    margin-bottom: 0;
  }

  @media (min-width: 960px) {
    margin-bottom: 0;
  }

}

.contact__text--inf {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contact {
  min-height: 645px;
  position: relative;
  background-color: white;
  z-index: 2;

  @media(min-width: 960px) {
    min-width: 940px;
  }
}

.contact__inner {
  position:  absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
  width: 340px;

  @media(min-width: 660px) {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 640px;
    margin-left: 64px;
    right: 20;
    height: 255px;

  }

  @media(min-width: 960px) {
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-left: 42px;
    padding-top: 26px;
    height: 173px;
  }
}

.contact__wrapper {
  width: 320px;
  min-height: 415px;
  margin: 0 auto;
  box-sizing: border-box;


  @media (min-width: 660px) {
    width: 640px;
  }

  @media (min-width: 960px) {
    width: 940px;
  }
}

.contact__map::after {
  background-image: url("../img/icon-map-marker.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 0;
  width: 36px;
  height: 35px;
}

.contact__map {
  position: relative;
  z-index: 1;
}

.motto__block {
  width: 320px;
  margin: 0 auto;
}
