
.contact__headline {
  color: #283645;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
  display: block;
  margin-bottom: 44px;
  @media(min-width: 660px) {
    color: #283645;
    font-size: 40px;
    font-weight: 300;
    min-width: 660px;
    text-align: center;
    line-height: 50px;
  }
  @media(min-width: 960px) {
    color: #283645;
    font-size: 50px;
    font-weight: 300;
  }
}

.contact__block {
  margin-bottom: 28px;
}


.contact__text {
  color: #283645;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  @media(min-width: 660px) {
    margin-bottom: 0;
  }
}

.contact__text--inf {
  color: #d22856;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  text-align: center;
}

.contact {
  min-height: 645px;
  position: relative;
  background-color: white;
  z-index: 2;

  @media(min-width: 960px) {
    min-width: 940px;
  }
}

.contact__inner {
  background-color: white;
  width: 340px;
  z-index: 2;

  @media(min-width: 660px) {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    width: 640px;
    margin: 0 auto;
  }

  @media(min-width: 960px) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.contact__wrapper {
  width: 320px;
  min-height: 415px;
  margin: 0 auto;
  box-sizing: border-box;


  @media (min-width: 660px) {
    width: 640px;
  }

  @media (min-width: 960px) {
    width: 940px;
  }
}

.contact__map {
  position: relative;
  z-index: 1;

}
