.social-list {
@media(min-width: 1024px) {
  margin: 0;
  padding: 0;
  list-style: none;
}
}

.social-link{
@media(min-width: 1024px) {
  margin: 0;
  padding: 0;
  list-style: none;
}
}

.page-footer {
  @media(min-width: 1024px) {
    width: 960px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    box-sizing: border-box;

  }
}
