
.post__user {
  color: #283645;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.post__time {
  color: #a8abaf;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}

.post__text {
  color: #283645;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.post__block {
  margin-bottom: 20px;
  padding-left: 15px;
  background-color: #f2f2f2;
}

.post__likes {
  color: #d22856;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.post {
  min-height: 301px;
}
