.research {
  display: none;
  margin: 0 auto;

  @media(min-width: 660px) {
    display: flex;
    justify-content: space-between;
    width:640px;
    min-height: 420px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
  }

  @media(min-width: 960px) {
    display: block;
    width: 960px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 429px;
    margin: 0 auto;
    background-color: #f2f2f2;
    display: flex;
    justify-content:space-between;

  }
}

.research__image {
  width: 238px;
  height: 276px;
  padding-top: 58px;
}

.research__inner {
  margin-left: 70px;
  margin-top: 102px;

  @media (min-width: 660px) {
    margin: 0;
    padding-top: 80px;

  }
}

.research__headline {
  @media(min-width: 660px) {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    margin: 0;
    padding-left: 206px;
    padding-right: 135px;

  }

  @media(min-width: 960px) {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }
}

.research__text {

  @media (min-width: 660px) {
    padding-left: 207px;
    margin: 0;
    padding-top: 11px;
  }

  @media(min-width: 960px) {
    color: #283645;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

}

.research__link {

  @media (min-width: 660px) {
    color: #d22856;
    line-height: 24px;
    text-decoration: underline;
    padding-top: 11px;
    display: block;
    padding-left: 209px;
  }

  @media(min-width: 960px) {
    font-size: 18px;
    font-weight: 400;
    color: #d22856;
    line-height: 30px;
    text-decoration: underline;
  }
}
