
@import "normalize.less";
@import "blocks/contact.less";
@import "blocks/description.less";
@import "blocks/download.less";
@import "fonts.less";
@import "blocks/page-header.less";
@import "blocks/page-footer.less";
@import "blocks/post.less";
@import "blocks/reviews.less";
@import "blocks/subscription.less";
@import "blocks/advantages.less";
@import "blocks/checkbox.less";
@import "blocks/comment.less";
@import "blocks/info.less";
@import "blocks/os.less";
@import "blocks/research.less";
@import "blocks/action.less";

body {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}
